{% extends "layout.html" %}

{% block content %}

<head>
    <title>Warsztaty WDI</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        namespace = '/test'; // change to an empty string to use the global namespace
        // the socket.io documentation recommends sending an explicit package upon connection
        // this is specially important when using the global namespace
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        $(document).ready(function(){

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
 /*           socket.on('my response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            }); */
            socket.on('my data', function (msg) {
                $('#data1').text('Proximity Sensor :' + msg.data1).html();
                $('#data2').text('Noise Level :' + msg.data2).html();

                update(Number(msg.data1),0)
                update2(Number(msg.data2))
                console.log("get data")
            });


            // event handler for new connections
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            // handlers for the different forms in the page
            // these send data to the server in a variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#broadcast').submit(function(event) {
                socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
                return false;
            });

        });
        function myFunction(name) {
            socket.emit('my relay', { data: name
            });
        }
    </script>
</head>

<body>
   <p>
	<br>
        <font size="8" face="arial" color="green" align="center">
            Beagle Bone Green Wireless single-board computer
        </font>
    </p>


    <h2 align="center">Proximity Sensor</h2>
    <div id="data1"></div>
    <div align="center" , style="width:60%; margin:auto">
        <canvas id="canvas" height=100% width=height*4/5></canvas>
    </div>

    <h2 align="center">Noise Level Sensor</h2>
    <div id="data2"></div>
    <div align="center" , style="width:60%; margin:auto">
        <canvas id="MoistureChart" height=100% width=height*4/5></canvas>
    </div>

    <button onclick="myFunction('Open1')">Open Relay 1</button>
    <button onclick="myFunction('Close1')">Close Relay 1</button>
    <button onclick="myFunction('Open2')">Open Relay 2</button>
    <button onclick="myFunction('Close2')">Close Relay 2</button>
</body>

{% endblock %}
